application_files/datatype/%7Burn%3Acom%3Apsi%3Atypes%3AAB%7DAB_ApplicationGroups.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:psi:types:AB"
  xmlns:tns="urn:com:psi:types:AB" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AB_ApplicationGroups">
    <xsd:sequence>
      <xsd:element name="txtGroupNames" nillable="true" type="xsd:string"/>
      <xsd:element name="txtDescription" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="txtGroupMembers" nillable="true" type="xsd:string"/>
      <xsd:element name="intGroupId" nillable="true" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
